.search-controls__wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-direction: column;
}
.search-sort label {
  color: var(--color-text-light-1);
  padding-right: 5px;
  font-size: 15px;
}