services:
  bartoc-search:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bartoc-search
    volumes:
      - ../:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3883:3883"     # HTTP
      - "24678:24678"   # HMR WebSocket
    depends_on:
      - solr
    environment:
      - NODE_ENV=development
      - CONFIG_FILE=./config/config.json
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=.coli-conc.gbv.de
      - VITE_JSKOS_WS_URL=ws://jskos-server:3000
      - BASE_URL=http://localhost:3883/
    working_dir: /usr/src/app

  jskos-server:
    image: ghcr.io/gbv/jskos-server:dev
    container_name: jskos-server
    depends_on:
      - mongo
    volumes:
    - ../config/jskos-server-dev.json:/config/config.json
    ports:
      - "3000:3000" # HTTP
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:7
    container_name: bartoc-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all", "--replSet", "rs0" ]

  mongosetup:
    image: mongo:7
    depends_on:
      - mongo
    volumes: 
      - ./mongo-initdb.d:/docker-entrypoint-initdb.d
    restart: "no"

  solr:
    image: solr:8
    container_name: bartoc-solr
    ports:
      - "8983:8983"
    volumes:
      - solr_data:/var/solr
      - ./solr-config/terminologies-configset:/configsets/terminologies-configset
    environment:
      # this makes the var available in the container
      SOLR_CORE_NAME: ${SOLR_CORE_NAME}
    command:
      - solr-precreate
      - ${SOLR_CORE_NAME}
      - /configsets/terminologies-configset

volumes:
  mongo_data:
  solr_data:
  redis_data:
