services:
  bartoc-search:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bartoc-search
    volumes:
      - ../:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3883:3883"     # HTTP
      - "24678:24678"   # HMR WebSocket
    depends_on:
      - solr
    environment:
      - NODE_ENV=development
      - CONFIG_FILE=./config/config.json
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=.coli-conc.gbv.de
      - BASE_URL=http://localhost:3883/
    working_dir: /usr/src/app

  redis:
    image: redis:7
    container_name: bartoc-redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

  solr:
    image: solr:8
    container_name: bartoc-solr
    ports:
      - "8983:8983"
    environment:
      - SOLR_CORE_NAME=${SOLR_CORE_NAME}
    volumes:
      - solr_data:/var/solr
      - ./solr-config/${SOLR_CORE_NAME}-configset:/configsets/${SOLR_CORE_NAME}-configset
    command:
      - solr-precreate
      - ${SOLR_CORE_NAME}
      - /configsets/${SOLR_CORE_NAME}-configset

volumes:
  solr_data:
  redis_data:
