name: Publish Docker
on:
  push:
    branches:
      - main
      - dev
    tags:
      - 'v*'
    paths-ignore:
      - '.github/**'
      - '**.md'
      - '.*'
      - 'eslint.config.js'
      - LICENSE

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # --------------------------------
      # 1. Checkout Repository
      # --------------------------------
      - name: Checkout
        uses: actions/checkout@v4
      
      # --------------------------------
      # 2. Extract Docker Image Metadata
      # --------------------------------
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      
      # --------------------------------
      # 3. Login to GitHub Container Registry
      # --------------------------------
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      # --------------------------------
      # 4. Build and Push Docker Image
      # --------------------------------
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          pull: true # avoid builds from old images
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
